@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

.center-component {
  @extend .row;
  @extend .h-100;
  @extend .justify-content-center;
  @extend .align-items-center;
}

.container {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-bottom: 5rem;
}

#cookieConfirmationModal {
  .btn-trial {
    min-width: 200px;
    background-color: #e97601;
    color: white;
  }

  a,
  a:hover {
    color: gray;
  }
}

.welcome-container {
  border-radius: 2px;
  box-shadow: 0 0 3px -1px #000000;
  overflow: hidden;
  margin: 20px 0;
  background-color: #ffffff;

  .btn-trial {
    min-width: 250px;
    background-color: #e97601;
    color: white;
  }
}

.collapsible {
  border-radius: 2px;
  box-shadow: 0 0 3px -1px #000000;
  overflow: hidden;
  margin: 20px 0;
  background-color: #ffffff;
}

.top {
  padding-top: 1.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 2.6rem;
  position: relative;
  font-family: Avenir-Heavy;
  font-size: 1.5rem;
  line-height: 1.2rem;
  cursor: pointer;
}

.bottom {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.bottom-footer {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.collapsible {
  @keyframes anim {
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  .close-panel::after {
    content: "\002B";
    font-size: 2.5rem;
    color: #e97601;
  }

  .open-panel::after {
    content: "\002D";
    font-size: 2.5rem;
    color: #e97601;
  }

  .top-left-element {
    float: left;
  }

  .top-right-element {
    float: right;
  }
}
