@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

.center-component {
  @extend .row;
  @extend .h-100;
  @extend .justify-content-center;
  @extend .align-items-center;
}

.box-container {
  padding-right: 4rem;
  padding-left: 4rem;
  margin-bottom: 5rem;
}

#cookieConfirmationModal {
  .btn-trial {
    min-width: 200px;
    background-color: #e97601;
    color: white;
  }

  a, a:hover {
    color: gray;
  }
}

.welcome-container {
  border-radius: 3px;
  box-shadow: 0 0 3px -1px #000000;
  overflow: hidden;
  margin: 20px 0;
  background-color: #ffffff;

  .btn-trial {
    min-width: 250px;
    background-color: #e97601;
    color: white;
  }
}

.welcome-top {
  padding-top: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1.2rem;
  position: relative;
  font-family: Avenir-Heavy;
  font-size: 1.5rem;
  line-height: 1.2rem;

}

.bottom {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: default;
}

.bottom-footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  cursor: default;
}

.modal-content {
  width: 75%;
}

.collapsible-container {
  border-radius: 3px;
  box-shadow: 0 0 3px -1px #000000;
  overflow: hidden;
  margin: 20px 0;
  background-color: #ffffff;
  cursor: pointer;

  .top {
    padding-top: 1.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2.6rem;
    position: relative;
    font-family: Avenir-Heavy;
    font-size: 1.5rem;
    line-height: 1.2rem;
  }

  @keyframes anim {
    100% {
      -webkit-transform: rotateZ(180deg) translate(1em, -9em);
      transform: rotateZ(180deg) translate(1em, -9em);
    }
  }

  .close-panel::after {
    content: "\002B";
    font-size: 2.5rem;
    color: #e97601;
    animation: anim 3s;
  }

  .open-panel::after {
    content: "\002D";
    font-size: 3rem;
    color: #e97601;
    animation: anim 2s;
  }

  .top-left-element {
    float: left;
  }

  .top-right-element {
    float: right;
  }
}
