@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

.header-text::after {
  content: "\007C";
  padding: 0.6rem;
}
.nav-link::after {
  content: "\007C";
  padding-left:inherit;

}

.nav-link-last::after {
  content: "\0020";
}

.header-text {
  font-size: 20px;
  margin-right: 10px;
}

.icon {
  height: 20px;
}

@media (max-width: 991px) {
  .nav-link::after {
    content: "\0020";
    padding-left:inherit;
  
  }
  
}
